
<div class="mainContainer">
   
    <div class="parentBackward">
        <i class="material-icons backwardIcon" (click)="moveBackward()">
            {{backward}}
        </i>
    </div>                          
    
    <mat-card class="card">
        <div class="question">
          {{showItems.ques}} 
        </div>
        <div class="answer" *ngIf = "showItems.ans.type == 'radio'">
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]=favoriteSeason[showItems.ans.label]>
            <mat-radio-button class="example-radio-button" *ngFor="let season of showItems.ans.options" [value]="season">
              {{season.item}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="answer" *ngIf = "showItems.ans.type == 'loader'">
          {{value}} %
        <mat-slider
        class="example-margin" 
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [tickInterval]="tickInterval"
        [(ngModel)]="value"
        [vertical]="vertical">
        </mat-slider> 
        </div>

        <div class="answer" *ngIf = "showItems.ans.type == 'text'">

            <mat-form-field class="example-full-width">
                <span matPrefix>₹ &nbsp;</span>
                <input type="tel"  [(ngModel)]=textVal[showItems.ans.label] matInput>
              
              </mat-form-field>
          </div>
          <i class="material-icons submitBtn" *ngIf = "showSubmit" (click)="submit()">
              check_circle
          </i>
          
       </mat-card>
       <div class="parentForward">
          <i class="material-icons forwardIcon" (click)="moveForward()">
              {{forward}}
          </i>
       </div>
      
</div>
